*{
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  font-family: 'Lexend Deca', Roboto, Helvetica, Arial, sans-serif;
  background-color: #f3b0cf;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #002ab6;
  margin-bottom: 30px;
}

.indexp {
  color: white !important;
  font-size: 30px !important;
  font-family: 'Lexend Deca', Roboto, Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  text-align: center !important;
}

.indexul {
  color: #002ab6 !important;
  font-size: 30px !important;
  font-family: 'Lexend Deca', Roboto, Helvetica, Arial, sans-serif !important;
  text-align: left !important;
}

.indexa {
  color: blue !important;
}
