.menu-burger {
  display: none;
  background: none;
  border: none;
  color: #FFD700;
  font-size: 28px;
  cursor: pointer;
}

.navbar {
  z-index: 99999;
  position: relative;
  background-color: #002ab6; 
  padding: 15px 40px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin-bottom: 40px; 
}

.navbar .logo {
  color: #ffcc00;
  font-size: 1.5em;
  font-weight: 800;
  font-family: 'Gilroy', 'Lexend Deca', sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: clamp(10px, 1.5vw, 30px);
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 99999;
  flex-wrap: nowrap;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: clamp(12px, 1.1vw, 1.1em);
  font-family: 'Lexend Deca', sans-serif;
  transition: color 0.3s ease-in-out;
  white-space: nowrap;
}

.nav-links a:hover, 
.nav-links a.active {
  color: #ffcc00;
}

@media (max-width: 1150px) {
	.menu-burger {
		display: block;
		margin-left: auto;
		padding-right: 20px;
	}

	.nav-links {
	display: none !important;
    flex-direction: column;
    position: absolute;
    top: 65px;
    right: 20px;
    width: 220px;
    background-color: #002ab6;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
	border-radius: 10px;
	z-index: 99999999999;
  }

	.nav-links li {
    text-align: center;
    padding: 15px 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

	.nav-links li:last-child {
    border-bottom: none;
	}

	 .nav-links.active {
    display: flex !important;
  }
}
